{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div class="my-3 mx-5">
            <h2>New Post</h2>
            <form action="{% url 'newPost' %}" method="post" >
                    {% csrf_token %}
                    <textarea name="content" row="4" cols="50"></textarea>
                    <br/>
                    <input type="submit" value="Post" class="btn btn-primary"/>
            </form>
        </div>
    {% endif %}
{% endblock %}