textarea {
    min-height: 400px;
}

.read {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.unread {
    background-color: white;
    display: flex;
    flex-direction: column;
}
