{% extends "auctions/layout.html" %}

{% block body %}
    <h2>watch list</h2>
    <div class="row mx-3">
        {% for item in watchListings %}
            <div class="card mx-3" style="width: 18rem;">
                <img src="{{ item.imageUrl }}" class="card-img-top"  alt="{{ item.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="{% url 'listing' id=item.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}item